:root {
  --text-color: #33ebec;
}
@font-face {
  font-family: "ka";
  src: url("./assets/fonts/ka.ttf");
}
@font-face {
  font-family: "ka-bo";
  src: url("./assets/fonts/kaBo.ttf");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  position: relative;
}
*,
*::after,
*::before {
  block-size: inherit;
  padding: 0;
  margin: 0;
}
body {
  font-family: "ka";
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #17141f;
}
.photo img{
  width: 100%;
}